#Files and folders specified here will never be tracked.

*.ban
*.bdb
*.log
*.sav

#Compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
/data/mode.txt
config/silicon_laws.txt
config/game_options.txt
config/config.txt
config/admins.txt
config/admins.txt
config/config.txt
config/game_options.txt
config/silicon_laws.txt
data/investigate/gravity.html
data/investigate/singulo.html
config/admins.txt
config/game_options.txt
config/game_options.txt
config/admins.txt
config/admins.txt
config/game_options.txt
